##commit
name: main-acr-actions

on:
  workflow_dispatch:
  # push:
  #   tags:
  #     - 'v*.*.*'

env:
  IMAGE_NAME: payment

jobs:
  pre-commit:
    runs-on: [self-hosted, Linux, X64, orgrunner]

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: actions/setup-python@v3
    - uses: pre-commit/action@v3.0.0

    # - name: Python Semantic Release
    #   uses: python-semantic-release/python-semantic-release@master
    #   with:
    #     github_token: ${{ secrets.GITHUB_TOKEN }}

    # steps:
    #   - id: version
    #     uses: battila7/get-version-action@v2
    #   - name: Add Semantic Version tag to Docker Image
    #     id: add-version-tag
    #     uses: shrink/actions-docker-registry-tag@57e97909852876c02080eff4d73b2e5e779b845b
    #     with:
    #       registry: prachiacr.azurecr.io
    #       repository: payment
    #       tags: '${{ steps.version.outputs.version }}'
    #       token: ${{ secrets.GITHUB_TOKEN }}

  main-acr-actions:
    name: 'main-acr-actions'
    runs-on: [self-hosted, Linux, X64, orgrunner]
    needs: pre-commit
    defaults:
      run:
        shell: bash

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: main
          submodules: true

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Context for Buildx
        id: buildx-context
        run: |
          docker context create builders

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest
          endpoint: builders

      - name: 'Docker Login'
        uses: azure/docker-login@v1
        with:
          login-server: ${{ secrets.DOCKER_REGISTRY_URL }}
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ secrets.DOCKER_REGISTRY_URL }}/${{ env.IMAGE_NAME }}

      - run: |
          docker images
          docker ps
          docker build --no-cache -f node/Dockerfile . -t ${{ secrets.DOCKER_REGISTRY_URL }}/${{ env.IMAGE_NAME }}:'${{ steps.add-version-tag.outputs.tags }}'
          docker push ${{ secrets.DOCKER_REGISTRY_URL }}/${{ env.IMAGE_NAME }}:'${{ steps.add-version-tag.outputs.tags }}'

      - name: Update values.yaml
        uses: fjogeleit/yaml-update-action@main
        with:
          valueFile: 'manifests/deployment.yml'
          propertyPath: 'spec.template.spec.containers[0].image'
          value: ${{ secrets.DOCKER_REGISTRY_URL }}/${{ env.IMAGE_NAME }}:'${{ steps.add-version-tag.outputs.tags }}'
          branch: main
          targetBranch: main

      - run: |
          cat manifests/deployment.yml
